@font-face {
  font-family: "Kurale";
  src: url("./assets/kurale.ttf");
}
@font-face {
  font-family: "Dancing Script";
  src: url("./assets/dancingscript.ttf");
}
/* light mode (default) */
:root{
  --fg: 210, 29%, 0%;
  --bg1: 0, 0%, 100%;
  --bg2: 0, 0%, 80%;
  --brightness: 0;
}
/* dark mode */
[data-theme="dark"]{
  --fg: 210, 29%, 100%;
  --bg1: 0, 0%, 10%;
  --bg2: 0, 0%, 30%;
  --brightness: 2;
}
:root{
  --acc: 256, 69%, 69%; /*rgb(150, 121, 230);*/
}

html, body, #app, #app-container{ height: 100%; }
body{
  font-family: "Kurale", serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, .script{
  font-family: "Dancing Script", cursive;
}

#app-container{
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--bg1));
  color: hsl(var(--fg));
}

#wrapper{
  flex: 1 0 auto;
  margin: 0 auto;
  width: 90vw;
  padding: 1em;
}

a, h2, .accent {
  color: hsl(var(--acc));
}
.ghost{
  opacity: 0.5;
}

form{
  padding: 0 2em;
}

table{
  border-spacing: 0;
  border: 5px solid hsl(var(--bg2));
  padding: 0.5em;
  width: 100%;
}
tbody tr:hover{
  background-color: hsl(var(--bg2));
}
th{
  color: hsl(var(--acc));
}
thead th{
  text-align: left;
  border-bottom: 2px solid hsl(var(--bg2));
}
tfoot th{
  text-align: right;
  border-top: 2px solid hsl(var(--bg2));
}

/*********** FLEX *************/
.flex-right, .flex-down{
  display: flex;
  gap: 0.7em;
  flex-wrap: wrap;
}
.flex-right{
  flex-direction: row;
}
.flex-down{
  flex-direction: column;
}
.h-center{
  justify-content: center;
}
.v-center{
  align-items: center;
}

.inputs-in-line .input-container{
  display: flex !important;
  gap: 1em;
}

/*********** MISC **************/
.rounded{
  border-radius: 0.75em;
}
.no-border{
  border: none !important;
}
.action-buttons button{
  font-size: 10px !important;
}
